<!DOCTYPE html>
<title> {% block title %}  {% endblock %} </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >


<body>
    <nav>
        <h1> Rock&Feller's </h1>
        <ul> 
            {% if g.user %}
            <li> <span> {{ g.user[1] }} </span> </li>
            <li> <a href="{{ url_for('auth.logout') }}"> Cerrar Sesion </a></li>
            <li> <a href="{{ url_for('auth.update_password', id=g.user[0]) }}"> Cambiar contraseña </a></li>
            {% else %}
            <li><a href= "{{ url_for('auth.register') }}"  > Registrarse</a>  </li>
            <li><a href= "{{ url_for('auth.login') }}"> Iniciar Sesion</a>  </li>
            {% endif %}
        </ul>
    </nav>
    <section class='content'>
        <header>
            {% block header %} {% endblock %}
        </header>
            {% for messege in get_flashed_messages() %}
                <div class="flash"> {{ messege }} </div>
            {% endfor %}
            
            {% block content %} 
                <h1>MENU</h1> 
                <li><a name=pagar href="{{ url_for('equipos.inicio')}}" > Equipos </a></li>
                <li><a name=pagar href="{{ url_for('pagos.comprobantes_emitidos', condicion1=0, condicion2=0)}}" > Comprobantes Emitidos </a> </li> 
            {% endblock %}
            {% block footer %}  {% endblock %}
    </section>
</body>
